/* .App {
  background-color: bisque;
} */
.header-container {
  position: fixed;
  top: 0px;
  right: 10%;
  left: 10%;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  z-index: 10;
  transition: 0.5s;
  
}

.header-hidden {
  transform: translateY(-100%);
  transition: 0.5s;
}

.menu-item {
  display: flex;
  justify-content: center;
  font-size: 18px;
  height: 50px;
}

.logo-image {
  font-size: 2vw;
  border: 3px solid #20a785;
  border-radius: 15%;
  transition: all 0.3s ease-in-out;
}

.logo-image:hover {
  transform: rotate(15deg);
  transition: all 0.3s ease-in-out;
}

.navBtn {
  border-radius: 10px;
  background: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: inherit;
}

.navBtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #20a785;
  z-index: -1;
  transition: 0.8s;
}

.navBtn1::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.navBtn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
  height: 180%;
}

.navBtn1:hover::before {
  height: 180%;
}

.navBtn2:hover::before {
  height: 0%;
}



.color-lam {
  color: #20a785;
}

.color-facebook {
  color: #4267B2;
}

.color-linkedin {
  color: #0a66c2;
}

.color-instagram {
  border-radius: 25%;
  color: white;
  background-image: linear-gradient(45deg, rgba(254,218,117,1) 0%, rgba(256,126,30,1) 25%,  rgba(214,41,118,1) 50%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
}

.color-gmail {
  color: #DB4437;
}

.cursive {
  font-family: Georgia, serif;
}

.title {
  font-size: 5vw;
}

.subtitle {
  font-size: 3vw;
}

.tags {
  font-size: 2vw;
}

.content {
  font-size: 18px;
}

.span {
  display: inline-block;
  white-space: pre;
}
.span:hover {
  
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(1.25, .75, 1);
  }
  45% {
    transform: scale3d(.75, 1, 1);
  }
  60% {
    transform: scale3d(1.2, .8, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.color-backgound-lam {
  background-color: #20a785;
}

.section-container {
  margin: 10% 0;
}

.section-title {
  font-size: 48px;
}

.section-title-container {
  margin: 15% 0 5% 0;
  justify-content: center;
  align-items: center;
}

.section-title-box {
  width: 200px;
  text-align: center;
  margin: 0 0 0 0;
}

.section-title-divider {
  height: 1px;
  width: 30vw;
  background-color: #718096;
}

.portrait-box:hover {
  transform: translateY(-5%) translateX(-5%);
  transition: all 0.3s ease-in-out;
}

.portrait-box:not(:hover) {
  transition: all 0.3s ease-in-out;
}

.portrait-circle {
  position: absolute;
  top: 2vh;
  bottom: 0;
  left: 2vh;
  right: 0;
  width: 30vw;
  height: 30vw;
  z-index: -1;
  border-radius: 100%;
  border: 2px solid #20a785;
}

.about-container {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-slider-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-slider-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  border-radius: 5%;
  margin: auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 2rem;
  color: gray;
  background-color: white;
  border-radius: 100%;
  opacity: 0.3;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover {
  opacity: 0.8;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 2rem;
  color: gray;
  background-color: white;
  border-radius: 100%;
  opacity: 0.3;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow:hover {
  opacity: 0.8;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease-out;
}

.slide-active {
  opacity: 1;
  transition: 0.5s ease-in;
}

.skill-list {
  margin: 1vw 0;
  column-count: 3;
}

.projects-container {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-box {
  width: 30vw;
  background-color: #718096;
  border:2px solid #718096;
  margin: 1vw;
  transition: all 0.3s ease-in-out;
}

.project-box:hover {
  transform: translateY(-5%);
  transition: all 0.3s ease-in-out;
}

.project-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.contact-iconBtn {
  font-size: 36px;
  cursor: pointer;
}

.backToTopBtn {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.backToTopBtn:hover {
  transform: translateY(-10%);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title {
    font-size: 60px;
  }

  .tags {
    font-size: 24px;
  }

  .portrait-circle {
    visibility: hidden;
  }

  .portrait-box:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 767px){
  .title {
    font-size: 60px;
  }
  
  .tags {
    font-size: 16px;
  }
  
  .content {
    font-size: 16px;
  }

  .section-title {
    font-size: 24px;
  }

  .portrait-circle {
    visibility: hidden;
  }

  .project-box{
    width: 300px;
  }

  .portrait-box:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  .skill-list {
    column-count: 2;
  }
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
